h1 {
	font-size: 3rem;
}

html {
	background-color: rgb(194, 181, 181);
	min-height: 100vh;
}

.content {
	width: 98%;
	max-width: 1100px;
	margin: 0 auto;
	padding-top: 120px;
	margin-bottom: 40px;
}

.notFound img {
	width: 100%;

	margin-bottom: 20px;
}

.notFound a {
	text-decoration: none;
	margin-right: 10px;
}

.table img {
	width: 50px;
	background-color: rgb(238, 255, 0);
}
.table {
	display: flex;
	flex-flow: column nowrap;
}

#purchase {
	margin-top: 10px;
	align-self: end;
}

.table .vbuck {
	width: 30px;
	background-color: white;
}

.homePage {
	text-align: center;
	text-decoration: none;
}
.homePage h1 {
	font-size: 4rem;
}
.homePage h2{
	font-size: 3rem;
}
.homePage a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
