.navbar {
	display: flex;
	background-color: black;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.logo {
	width: 150px;
}
.navbar ul {
	display: flex;
	align-items: center;
}
.navbar ul li {
	margin-right: 20px;
	text-decoration: none;
}
.navbar .shopBtn {
	color: #f5f411;
	font-size: 2rem;
}
.cartIcon {
	width: 40px;
}
#badge {
	font-size: 2rem;
}

@media screen and (max-width: 400px) {
	.logo {
		width: 100px;
	}
}
